
/*{ border: 1px dashed red;}*/
.logo {
    padding:30px;
    width: 50%;
    height: 40%;
    margin: 0 auto;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight:20;
    color: rgb(77, 77, 77);
    margin: 1px;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}



.signin-box { 




display:grid;

font-family: Arial, Helvetica, sans-serif;

text-align: left;


}

.signin-wrapper {
  
    border: 1px solid lightgray;

    width:45%;

    margin:auto ;
  


}

.button-wrapper {
    padding-top: 20px;
}

.continue-button {
    width: 100%;
    height: 34px;
    margin-top: 15px;
    background-color: #FCBC4A;
    border-radius: 2px;
    border: 1px solid gray;
    margin: auto;
    text-align: center;
 
    
    
}
.continue-button:hover{
    background-color:#b67d1a;
}


.signin-box-label {
    color: gray;
    font-size: 11px;
    padding-top:10px;
   

   
}

.signin-box-field {
    border: 1px lightgray;
    border-radius: 2px;
    height: 30px;
    border-style:solid;
    border-spacing: 10px;
   
    
   
}

.forgot-password {
    text-decoration: none;
    text-align: right;
    color: rgb(11, 142, 229);
    font-size: 12px;
    
    
   
   


    
}

.main-box {
    border: 1px lightgray;
    margin: 0 auto;
    padding: 20px;
    max-height: 350px;
    max-width: 450px;
}

.need-help {
    display:block;
    text-decoration: none;
    color: rgb(11, 142, 229);
    font-size: 13.3333px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
 
    
}

.new-user-sec {

    width: 45%;
    margin: auto;
   
 
}

.broken-line-l {

   
    width:15%;
    border-top: 1px lightgray;
    position:absolute;
    left: 25%;
    padding: 20px;
    
}

.broken-line-r{
  
    width:15%;
    border-top: 1px lightgray;
    position: absolute;
    right: 25%;
    padding: 20px;
}

.new-to-am {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    color: gray;
    padding-top: 17px;
}


#create {
    width: 90%;
    height: 30px;
    display:block;
    margin: auto;
    
   
}

.footlinks-container {
    text-align:center;
    padding: 30px;
    
}

.footlink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding: 30px;
}

.copyright {
    font-size: small;
    text-align: center;
    margin-top: 70px;
}





    

